body {
    font-family: 'Franklin Gothic Medium';
    padding: 0 10px;
    height: 100%;
    margin: 0;
    background: linear-gradient(pink,blue );
}


h1{
    font-family: 'Gill Sans';
    text-align: center;
}

#container {
    text-align: center;
    margin: 0;
}

#qr-canvas {
    margin: auto;
    width: calc(100% - 20px);
    max-width: 400px;
}

#btn-scan-qr {
    cursor: pointer;
}

#btn-scan-qr img{
    height: 10em;
    padding: 15px;
    margin: 15px;
   
}

#qr-result {
    font-size: 1.3em;
    margin:20px auto;
    padding: 20px;
    max-width: 700px;

}